.venv/
**/__pycache__/

# pytest
pytest.log
.pytest_cache/

# pytest-html
report/

# playwright
test-results/

# allure
allure-results/

# RobotFramework
output/
log.html
output.xml
report.html
selenium*